[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[dev-packages]
dls-dependency-tree = {editable = true, extras = ["dev"], path = "."}

[packages]
dls-dependency-tree = {editable = true, path = "."}


[requires]
python_version = "3.7"
